@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.AccountProvidersViewModel
@using SFA.DAS.ProviderRelationships.Web.RouteValues.AccountProviderLegalEntities
@using SFA.DAS.ProviderRelationships.Authorization

@{
    var isOwner = EmployerAccountAuthorizationHandler.CheckUserAccountAccess(AuthorizationContext.User, EmployerUserRole.Owner);
}


<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Training provider name</th>
            <th class="govuk-table__header" scope="col">Permissions</th>
            @if (isOwner)
            {
                <th class="govuk-table__header" scope="col">
                    <span class="govuk-visually-hidden">Action</span>
                </th>
            }
        </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var accountProvider in Model.AccountProviders)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell das-table-cell-width-30">@accountProvider.ProviderName</td>
            <td class="govuk-table__cell das-table-cell-width-50">
                @if (!accountProvider.AccountLegalEntities.First().HadPermissions)
                {
                    @:No permissions set
                }
                else
                {
                    <ul class="govuk-list govuk-!-margin-bottom-0">
                    @foreach (var permission in accountProvider.AccountLegalEntities.First().Operations.ToPermissions())
                    {
                        <li>@permission.ToString()</li>
                    }
                    </ul>
                }
            </td>
            @if (isOwner)
            {
                <td class="govuk-table__cell govuk-table__cell--numeric das-table-cell-width-20">
                    <a class="govuk-link govuk-link--no-visited-state" href="@Url.Action("Permissions", "AccountProviderLegalEntities", new AccountProviderLegalEntityRouteValues { AccountProviderId = accountProvider.Id, AccountLegalEntityId = accountProvider.AccountLegalEntities.First().Id })">
                        @if (!accountProvider.AccountLegalEntities.First().HadPermissions)
                        {
                            <span>Set permissions<span class="govuk-visually-hidden"> for @accountProvider.ProviderName</span></span>
                        }
                        else
                        {
                            <span>Change permissions<span class="govuk-visually-hidden"> for @accountProvider.ProviderName</span></span>
                        }
                    </a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>
