@model SFA.DAS.ProviderRelationships.Web.ViewModels.HealthCheck.HealthCheckViewModel

@{
    ViewBag.Title = "Health check";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Health check</h1>
        <p class="govuk-body">Running a health check will test the availability of each application. Please note that this can take a few minutes to complete.</p>
        @using (Html.BeginForm())
        {
            <div class="govuk-form-group">
                @if (Model.HealthCheck != null)
                {
                    <table class="govuk-table govuk-!-font-size-16">
                        <thead>
                            <tr>
                                <td class="govuk-table__cell"></td>
                                <th class="govuk-table__header govuk-table__header--center" colspan="2">Request/Response</th>
                                <th class="govuk-table__header govuk-table__header--center" colspan="2">Publish/Subscribe</th>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell govuk-table__cell--center"></td>
                                <td class="govuk-table__cell govuk-table__cell--center">Request sent</td>
                                <td class="govuk-table__cell govuk-table__cell--center">Response received</td>
                                <td class="govuk-table__cell govuk-table__cell--center">Event published</td>
                                <td class="govuk-table__cell govuk-table__cell--center">Event received</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="govuk-table__cell">SFA.DAS.ApprenticeshipInfoService</td>
                                <td class="govuk-table__cell govuk-table__cell--center">@Model.HealthCheck.SentApprenticeshipInfoServiceApiRequest.ToString("HH:mm:ss")</td>
                                <td class="govuk-table__cell govuk-table__cell--center">
                                    @if (Model.HealthCheck.ReceivedApprenticeshipInfoServiceApiResponse == null)
                                    {
                                        @:Failed
                                    }
                                    else
                                    {
                                        @Model.HealthCheck.ReceivedApprenticeshipInfoServiceApiResponse.Value.ToString("HH:mm:ss") @:(@Model.HealthCheck.ReceivedApprenticeshipInfoServiceApiResponse.Value.Subtract(Model.HealthCheck.SentApprenticeshipInfoServiceApiRequest).ToHumanReadableString())
                                    }
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--center">-</td>
                                <td class="govuk-table__cell govuk-table__cell--center">-</td>
                            </tr>
                            <tr>
                                <td class="govuk-table__cell">SFA.DAS.ProviderRelationships</td>
                                <td class="govuk-table__cell govuk-table__cell--center">@Model.HealthCheck.SentProviderRelationshipsApiRequest.ToString("HH:mm:ss")</td>
                                <td class="govuk-table__cell govuk-table__cell--center">
                                    @if (Model.HealthCheck.ReceivedProviderRelationshipsApiResponse == null)
                                    {
                                        @:Failed
                                    }
                                    else
                                    {
                                        @Model.HealthCheck.ReceivedProviderRelationshipsApiResponse.Value.ToString("HH:mm:ss") @:(@Model.HealthCheck.ReceivedProviderRelationshipsApiResponse.Value.Subtract(Model.HealthCheck.SentProviderRelationshipsApiRequest).ToHumanReadableString())
                                    }
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--center">@Model.HealthCheck.PublishedProviderRelationshipsEvent.ToString("HH:mm:ss")</td>
                                <td class="govuk-table__cell govuk-table__cell--center">
                                    @if (Model.HealthCheck.ReceivedProviderRelationshipsEvent == null)
                                    {
                                        @:Waiting (@DateTime.UtcNow.Subtract(Model.HealthCheck.PublishedProviderRelationshipsEvent).ToHumanReadableString())
                                    }
                                    else
                                    {
                                        @Model.HealthCheck.ReceivedProviderRelationshipsEvent.Value.ToString("HH:mm:ss") @:(@Model.HealthCheck.ReceivedProviderRelationshipsEvent.Value.Subtract(Model.HealthCheck.PublishedProviderRelationshipsEvent).ToHumanReadableString())
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="govuk-body">A health check has not been run since the last deployment, please click the run button below.</p>
                }
            </div>
            <button class="govuk-button" type="submit">Run</button>
        }
    </div>
</div>