@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviderLegalEntities.UpdatedAccountProviderLegalEntityViewModel

@{
    ViewBag.Title = "You’ve successfully changed your training provider’s permissions";
    ViewBag.ZenDeskLabel = "permissions-permissions-updated";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        @Html.Partial("_ValidationSummary", ViewData.ModelState)

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You've successfully changed @Model.AccountProviderLegalEntity.ProviderName's permissions
            </h1>
        </div>
        <p class="govuk-body">We’ll send @Model.AccountProviderLegalEntity.ProviderName an email to let them know that you’ve changed their permissions and what their new permissions are.</p>
       
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="govuk-form-group @(Html.IsValid(m => m.Choice) ? "" : " govuk-form-group--error")">
                <fieldset class="govuk-fieldset">                    
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What's next?
                        </h1>
                    </legend>
                    <span class="govuk-error-message">
                        @Html.ValidationMessageFor(m => m.Choice)
                    </span>
                    <div class="govuk-radios">                        
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "YourTrainingProviders", new { id = "Choice", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="Choice">
                                View your training providers
                            </label>
                        </div>                        
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "AddTrainingProvider", new { id = "choice-2", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="choice-2">
                                Add a training provider
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "GoToHomepage", new { id = "choice-3", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="choice-3">
                                Go to the Homepage
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Confirm</button>
        }
    </div>
</div>