@using SFA.DAS.ProviderRelationships.Web.RouteValues.AccountProviderLegalEntities
@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviderLegalEntities.UpdateAccountProviderLegalEntityViewModel

@{
    ViewBag.Title = Model.AccountLegalEntity.Name;
    ViewBag.ZenDeskLabel = "permissions-confirm-training-provider-permissions";
}

@section breadcrumb
{
    <a class="govuk-back-link" href="@Url.Action("Get", new GetAccountProviderLegalEntityRouteValues { AccountProviderId = Model.AccountProvider.Id, AccountLegalEntityId = Model.AccountLegalEntity.Id })">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Confirm training provider permissions</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-6">
            @Model.AccountProvider.ProviderName
            <span class="govuk-caption-m">UKPRN @Model.AccountProvider.ProviderUkprn</span>
        </h2>
        <table class="govuk-table govuk-!-font-size-19">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Your organisations</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        @Model.AccountLegalEntity.Name
                    </td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="govuk-table govuk-!-font-size-19">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Permissions</th>
                        <th class="govuk-table__header">State</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @for (var i = 0; i < Model.Operations.Count; i++)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                @Html.HiddenFor(m => m.Operations[i].Value)
                                @Html.HiddenFor(m => m.Operations[i].IsEnabled)
                                @Model.Operations[i].Value.GetDescription()
                            </td>
                            <td class="govuk-table__cell">
                                @if (Model.Operations[i].IsEnabled)
                                {
                                    @:Yes
                                }
                                else
                                {
                                    @:No
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="govuk-button" type="submit">Confirm</button>
        }
    </div>
</div>