@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.FindProviderViewModel

@{
    ViewBag.Title = "Search for a training provider";
}

@section breadcrumb
{
    <a class="govuk-back-link" href="@Url.Action("Index")">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Search for a training provider</h1>
        <p class="govuk-body">Search for a training provider via a UKPRN.</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="govuk-form-group @(Html.IsValid(m => m.Ukprn) ? "" : " govuk-form-group--error")">
                <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-bottom-0" for="@Html.IdFor(m => m.Ukprn)">UK Provider Reference Number</label>
                <span class="govuk-error-message govuk-!-margin-bottom-0">
                    @Html.ValidationMessageFor(m => m.Ukprn)
                </span>
                @Html.TextBoxFor(m => m.Ukprn, new { @class = "govuk-input govuk-!-width-one-half" })
            </div>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What is a UK Provider Reference Number?
                    </span>
                </summary>
                <div class="govuk-details__text govuk-body-s">
                    <p>A UK Provider Reference Number (UKPRN) is a unique, 8-digit number that identifies a training provider. Your training provider can tell you their UKPRN.</p>
                </div>
            </details>
            <button class="govuk-button" type="submit">Continue</button>
        }
    </div>
</div>