@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.FindProviderViewModel

@{
    ViewBag.Title = "Enter your training provider’s name or reference number (UKPRN)";
    ViewBag.ZenDeskLabel = "permissions-search-for-a-training-provider";
}

@section breadcrumb
{
    <a class="govuk-back-link" href="@Url.Action("Index")">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @Html.Partial("_ValidationSummary", ViewData.ModelState)
    </div>

    <div class="govuk-grid-column-full">

        <h1 class="das-js-hide govuk-heading-xl govuk-!-margin-bottom-6">Select the training provider you want to add</h1>

        <h1 class="das-js-show govuk-heading-xl govuk-!-margin-bottom-6">Enter your training provider’s name or reference number (UKPRN)</h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
        <p class="das-js-show govuk-body">
            A UKPRN is the unique, 8-digit number we use to identify a training provider. Ask your training provider if you do not know it.
        </p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="govuk-form-group@(Html.IsValid(m => m.Ukprn) ? "" : " govuk-form-group--error")">

                <span class="govuk-error-message">
                    @Html.ValidationMessageFor(m => m.Ukprn)
                </span>

                <select id="Ukprn" name="Ukprn" class="govuk-select">
                    <option class="das-js-hide" value="">Select training provider</option>
                    @foreach (var provider in Model.Providers)
                    {
                        <option value="@provider.Ukprn">@provider.FormattedProviderSuggestion</option>
                    }
                </select>

            </div>

            <button class="govuk-button" id="Ukprn-button" type="submit">Continue</button>
        }
    </div>

</div>

<script>
    window.onload = function () {
        var ukprn = jQuery('#Ukprn');

        var gfg = ukprn.closest('.govuk-form-group');
        if (gfg.hasClass('govuk-form-group--error')) {
            ukprn.css('border', '4px solid #df3034');
        }

        var ukprnForm = ukprn.closest('form');

        jQuery('#Ukprn-button').on('click', function (e) {
            e.preventDefault();

            var ukprnVal = ukprn.val();

            if (ukprnVal) {//has a value
                ukprnForm.append('<input type="hidden" id="Ukprn-hidden" name="Ukprn-hidden" value="' + ukprnVal + '">').submit();
            } else {
                ukprnForm.submit();
            }
        });
        ukprn.attr('type', 'search');
        document.getElementById('Ukprn').addEventListener('search', function () {
            ukprn.keyup(function () {
                if (this.value.length === 3) {
                    document.getElementById('Ukprn__listbox').scrollTop = 0;
                }
            });
        });//chrome supported to resolve chrome behaviour (resets list if cleared)
    };
</script>
