@using SFA.DAS.ProviderRelationships.Extensions
@using SFA.DAS.ProviderRelationships.Web.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.GetAccountProviderViewModel

@{
    ViewBag.Title = Model.AccountProvider.ProviderName;
    ViewBag.ZenDeskLabel = "permissions-view-training-provider-permissions";
    ViewBag.GaData.Vpv = "/permissions/accountproviders/get";
    ViewBag.GaData.Ukprn = Model.AccountProvider.ProviderUkprn.ToString();
}

@section breadcrumb
{
    <a class="govuk-back-link" asp-action="@AccountProviders.ActionNames.Find" asp-controller="@AccountProviders.ControllerName" asp-route-accountHashedId="@ViewContext.RouteData.Values[RouteValueKeys.AccountHashedId]">Back</a>
}


<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
    @Model.AccountProvider.ProviderName
    <span class="govuk-caption-m">UKPRN @Model.AccountProvider.ProviderUkprn</span>
</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Set permissions for a single organisation, or set the same permissions for all your organisations at the same time.</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="@(Model.IsUpdatePermissionsOperationAuthorized ? "govuk-grid-column-two-thirds" : "govuk-grid-column-one-half")">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Your organisations</th>
                    <th class="govuk-table__header" scope="col">Permissions</th>
                    @if (Model.IsUpdatePermissionsOperationAuthorized)
                    {
                         <th class="govuk-table__header" scope="col">
                            <span class="govuk-visually-hidden">Action</span>
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var accountLegalEntity in Model.AccountProvider.AccountLegalEntities)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@accountLegalEntity.Name</td>
                        <td class="govuk-table__cell">
                            @if (accountLegalEntity.Operations.Any())
                            {
                                <ul class="govuk-list das-list--comma-after govuk-body govuk-!-margin-bottom-0">
                                    @foreach (var operation in accountLegalEntity.Operations)
                                    {
                                        <li>@operation.GetDisplayName()</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                @:No permissions set
                            }
                        </td>
                        @if (Model.IsUpdatePermissionsOperationAuthorized)
                        {
                            <td class="govuk-table__cell">
                                <a asp-controller="@AccountProviderLegalEntities.ControllerName" asp-action="@AccountProviderLegalEntities.ActionNames.Permissions" asp-route-AccountProviderId="@Model.AccountProvider.Id" asp-route-AccountLegalEntityId="@accountLegalEntity.Id">Set permissions</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>