@using SFA.DAS.ProviderRelationships.Extensions
@using SFA.DAS.ProviderRelationships.Web.RouteValues.AccountProviderLegalEntities
@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.GetAccountProviderViewModel

@{
    ViewBag.Title = Model.AccountProvider.ProviderName;
    ViewBag.ZenDeskLabel = "permissions-view-training-provider-permissions";
}

@section breadcrumb
{
    <a class="govuk-back-link" href="@Url.Action("Index")">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            @Model.AccountProvider.ProviderName
            <span class="govuk-caption-m">UKPRN @Model.AccountProvider.ProviderUkprn</span>
        </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Set permissions for a single organisation, or set the same permissions for all your organisations at the same time.</p>
    </div>
    <div class="@(Model.IsUpdatePermissionsOperationAuthorized ? "govuk-grid-column-two-thirds" : "govuk-grid-column-one-half")">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Your organisations</th>
                    <th class="govuk-table__header">Permissions</th>
                    @if (Model.IsUpdatePermissionsOperationAuthorized)
                    {
                        <th class="govuk-table__header"></th>
                    }
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var accountLegalEntity in Model.AccountProvider.AccountLegalEntities)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@accountLegalEntity.Name</td>
                        <td class="govuk-table__cell">
                            @if (accountLegalEntity.Operations.Any())
                            {
                                <ul class="govuk-list das-list--comma-after govuk-body govuk-!-margin-bottom-0">
                                    @foreach (var operation in accountLegalEntity.Operations)
                                    {
                                        <li>@operation.GetDisplayName()</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                @:No permissions set
                            }
                        </td>
                        @if (Model.IsUpdatePermissionsOperationAuthorized)
                        {
                            <td class="govuk-table__cell">
                                <a href="@Url.Action("Permissions", "AccountProviderLegalEntities", new AccountProviderLegalEntityRouteValues { AccountHashedId = Model.AccountHashedId, AccountProviderId = Model.AccountProvider.Id, AccountLegalEntityId = accountLegalEntity.Id })">Set permissions</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>