@using SFA.DAS.ProviderRelationships.Web.RouteValues.AccountProviders
@model SFA.DAS.ProviderRelationships.Web.ViewModels.AccountProviders.AccountProvidersViewModel

@{
    ViewBag.Title = "Training provider permissions";
}

@section breadcrumb
{
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="@Html.EmployerUrls().Account()">Home</a>
            </li>
            <li aria-current="page" class="govuk-breadcrumbs__list-item">Training provider permissions</li>
        </ol>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Training provider permissions</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">  
        <p class="govuk-body">Set permissions for what you want training providers to do on your behalf. You can select from those you've previously worked with, or find a new one.</p>
        @if (Model.IsAddProviderOperationAuthorized)
        {
            <a class="govuk-button" href="@Url.Action("Find")" role="button">Add a new training provider</a>
        }
    </div>
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Your training providers</h2>
        @if (!Model.AccountProviders.Any())
        {
            <p class="govuk-body">No training provider permissions set</p>
        }
        else
        {
            <table class="govuk-table govuk-!-font-size-19">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Training providers</th>
                        <th class="govuk-table__header">Permissions</th>
                        <th class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var accountProvider in Model.AccountProviders)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@accountProvider.ProviderName</td>
                            <td class="govuk-table__cell">
                                @if (accountProvider.AccountProviderLegalEntitiesWithPermissionsCount == 0)
                                {
                                    @:No permissions set
                                }
                                else
                                {
                                    if (Model.AccountLegalEntitiesCount == 1)
                                    {
                                        @:Permissions set
                                    }
                                    else
                                    {
                                        @:Permissions set for @accountProvider.AccountProviderLegalEntitiesWithPermissionsCount organisation@(accountProvider.AccountProviderLegalEntitiesWithPermissionsCount > 1 ? "s" : "")
                                    }
                                }
                            </td>
                            <td class="govuk-table__cell">
                                <a href="@Url.Action("Get", new GetAccountProviderRouteValues { AccountProviderId = accountProvider.Id })">
                                    @if (Model.AccountLegalEntitiesCount == 1 && Model.IsUpdatePermissionsOperationAuthorized)
                                    {
                                        @:Set permissions
                                    }
                                    else
                                    {
                                        @:View
                                    }
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>