@model SFA.DAS.ProviderRelationships.Web.ViewModels.Providers.AddProviderViewModel

@{
    ViewBag.Title = "Confirm training provider";
}

@section breadcrumb {
    <a class="govuk-back-link" href="@Url.Action("Search", "Providers" )">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Confirm training provider</h1>
        <p class="govuk-body govuk-!-margin-bottom-5">UK Provider Reference Number <span class="govuk-!-font-weight-bold">'@Model.Provider.Ukprn'</span> matches:</p>
        <h2 class="govuk-heading-l">
            @Model.Provider.Name
            <span class="govuk-caption-m govuk-!-font-weight-bold govuk-!-margin-bottom-8">UKPRN @Model.Provider.Ukprn</span>
        </h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Ukprn)
            <div class="govuk-form-group @(Html.IsValid(m => m.Choice) ? "" : " govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-margin-bottom-0">
                        <h1 class="govuk-fieldset__heading">
                            Is this the training provider you would like to set permissions for?
                        </h1>
                    </legend>
                    <span class="govuk-error-message">
                        @Html.ValidationMessageFor(m => m.Choice)
                    </span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "Confirm", new { id = "choice-1", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="choice-1">
                                Yes, use @Model.Provider.Name
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "ReEnterUkprn", new { id = "choice-2", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="choice-2">
                                No, change UK Provider Reference Number
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Continue</button>
        }
    </div>
</div>