@model SFA.DAS.ProviderRelationships.Web.ViewModels.Providers.AlreadyAddedProviderViewModel

@{
    ViewBag.Title = "Training provider already added";
}

@section breadcrumb
{
    <a class="govuk-back-link" href="@Url.Action("Search", "Providers" )">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div aria-labelledby="info-summary-title" class="govuk-info-summary" role="alert" tabindex="-1">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4" id="info-summary-title">
                Training provider already added
            </h1>
            <div class="govuk-info-summary__body">
                <p>You've already added @Model.AccountProvider.Provider.Name - UKPRN @Model.AccountProvider.Provider.Ukprn to your list of training providers.</p>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.AccountProviderId)
            <div class="govuk-form-group @(Html.IsValid(m => m.Choice) ? "" : " govuk-form-group--error")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            What's next?
                        </h1>
                    </legend>
                    <span class="govuk-error-message">
                        @Html.ValidationMessageFor(m => m.Choice)
                    </span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "SetPermissions", new { id = "choice-1", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="choice-1">
                                Edit permissions for @Model.AccountProvider.Provider.Name
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(m => m.Choice, "AddTrainingProvider", new { id = "choice-2", @class = "govuk-radios__input" })
                            <label class="govuk-label govuk-radios__label" for="choice-2">
                                Search for a different training provider via UKPRN
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" type="submit">Continue</button>
        }  
    </div>
</div>